*,
*::after,
*::before {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;

    @include mediaQuery($mobile-sm) {
        font-size: 55%;
    }
}

body {
    font-size: 1.5rem;
    font-family: "Barlow Semi Condensed", sans-serif;
    background-color: $LightGrayishBlue;
}
